@import './assets/style/variables';

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Roboto-Regular', sans-serif;
  background: $light-gray;
}

* {
  box-sizing: border-box;
}